{% extends "layout.njk" %}


{% block content %}
  <h1>This is the list of all the games</h1>
  {% for i in games.games %}
  <p>
    <a href="/games/{{games.games[loop.index0].id}}"> {{games.games[loop.index0].name}} </a>
    <img src="{{games.games[loop.index0].cover.url}}">
  </p>
  {% endfor %}
  <form method="post" action="/gamespages">
    <input type="hidden" name="page" value="-"/>
    <button type="submit">
      prev
    </button type="submit">
  </form>
  <form method="post" action="/gamespages">
    <input type="hidden" name="page" value="+"/>
    <button type="submit">
      next
    </button>
  </form>
{% endblock %}
