{% extends "layout.njk" %}

{% block css %}
  {% if isAtTheEnd %}
  <link rel="stylesheet" href="button.css">
  {% endif %}
{% endblock %}

{% block content %}
  <h1>This is the list of all the platforms</h1>
  {% for i in platforms.platforms %}
  <p>
    <a href="/platforms/{{platforms.platforms[loop.index0].id}}"> {{platforms.platforms[loop.index0].name}} </a>
    <img src="{{platforms.platforms[loop.index0].logo.url}}">
  </p>
  {% endfor %}
  <button><a href="/platforms?page={{ current - 1 }}">previous</a></button>

  <button><a href="/platforms?page={{ current + 1 }}" id="next-button">next</a></button>
{% endblock %}
